:root {
  --primary: #007F7F;
  --secondary: #FFFFFF;
  --accent: #f16464;
  --shadow: 8px 8px 0px var(--primary);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Courier New', monospace;
}

body {
    background-image: url("Assets/bg_login.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; /* Keeps image fixed when scrolling */
    background-color: #cccccc; /* Fallback color if image fails to load */
  background-color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 20px;
}

.login-container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 65%;
  transform: translate(-50%, -32vh);
  border: 1px solid var(--primary);
  padding: 40px 30px;
  background-color: var(--secondary);
  box-shadow: var(--shadow);
  border-radius: 12px;
}
@media (min-width: 1024px) {
  .login-container {
    width: 55%;
  }
}

.login-container::before {
  content: '';
  position: absolute;
  top: 6px;
  left: 6px;
  right: -6px;
  bottom: -6px;
  border: 1px solid var(--primary);
  z-index: -1;
  border-radius: 12px;
}

h1 {
  position: absolute;
  top: 4%;              /* distance from top */
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: #007F7F;
  margin-bottom: 30px;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
}
#sign{
  color: #e66414;
}

.input-group {
  margin-bottom: 20px;
  position: relative;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #e66414;
  font-size: 24;
}

input {
  width: 100%;
  padding: 12px 15px;
  border: 2px solid #e66414;
  background-color: var(--secondary);
  font-size: 30px;
  outline: none;
  transition: all 0.3s;
}

input:focus {
  box-shadow: 4px 4px 0px var(--primary);
}

button {
  width: 100%;
  padding: 12px;
  background-color: var(--accent);
  color: var(--secondary);
  border: 2px solid var(--primary);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  transition: all 0.3s;
}

button:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.divider {
  display: flex;
  align-items: center;
  margin: 25px 0;
  color: var(--primary);
  font-weight: bold;
}

.divider::before, .divider::after {
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--primary);
  margin: 0 10px;
}

.social-login {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.social-btn {
  width: 50px;
  height: 50px;
  border: 2px solid var(--primary);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}

.social-btn:hover {
  box-shadow: 4px 4px 0px var(--primary);
  transform: translate(-2px, -2px);
}

.footer {
  text-align: center;
  margin-top: 20px;
  color: var(--primary);
}

.footer a {
  color: var(--primary);
  font-weight: bold;
  text-decoration: underline;

}




