  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  html, body {
  height: 100%;
  overflow: hidden;
  }
  .butholder {
    display: flex ;
    flex-direction: row;
    gap: 50px;
  }
  body {
    background-image: url("Assets/Q_bg.png"); /* or gradient */
    background-size: cover;     /* fills screen */
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Inter', sans-serif;
  }
  .formbold-main-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
  }
  .formbold-form-wrapper h1,
  .formbold-form-wrapper h2,
  .formbold-form-wrapper p {
  margin: 0;
  }

  .formbold-form-wrapper {
    padding: 40px;
    max-height: 65%;
    display: flex;
    background: rgba(255, 255, 255, 0.6); /* transparency */
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    flex-direction: column; /* stack top → down */
    gap: 30px;              /* space BETWEEN children */
    border-radius: 12px;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
  }

  .formbold-img {
    margin-bottom: 40px;
  }

  .formbold-input-flex {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
  }
  .formbold-input-flex > div {
    width: 50%;
  }
  .formbold-form-input {
    width: 100%;
    padding: 13px 22px;
    border-radius: 5px;
    border: 1px solid #dde3ec;
    background: #ffffff;
    font-weight: 500;
    font-size: 16px;
    color: #536387;
    outline: none;
    resize: none;
  }
  .questionholder {
    flex: 1;
    display: block;
    max-height: 500px;
    flex-direction: column; /* TOP → DOWN */
    align-items: left;
    justify-content: left;
    scroll-padding-top: 48px;
    scroll-padding-bottom: 48px;
    overflow-y: auto;
    overflow-x: hidden;
  }

  .questionholder::-webkit-scrollbar {
  width: 6px;
  }

  .questionholder::-webkit-scrollbar-track {
  background: transparent;
  }

  .questionholder::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.25);
  border-radius: 8px;
  }

  .body::-webkit-scrollbar {
  width: 6px;
  }

  .body::-webkit-scrollbar-track {
  background: transparent;
  }

  .body::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.1);
  border-radius: 8px;
  }


  .formbold-form-input:focus {
    border-color: #6a64f1;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.05);
  }
  .formbold-form-label {
    color: #072f8b;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    display: block;
    margin-bottom: 10px;
  }

  .formbold-form-heading {
    color: #b17232;
    font-weight: 1000;
    font-size: 24x;
    line-height: 48px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    justify-content: center;
    margin: 0;
  }

  .formbold-mb-5 {
    align-items: left;
    margin-bottom: 20px;
  }
  .formbold-radio-flex {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .formbold-radio-label {
    font-size: 14px;
    line-height: 24px;
    color: #07074d;
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .formbold-input-radio {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  .formbold-radio-checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 18px;
    width: 18px;
    background-color: #ffffff;
    border: 1px solid #dde3ec;
    border-radius: 50%;
  }
  .formbold-radio-label
    .formbold-input-radio:checked
    ~ .formbold-radio-checkmark {
    background-color: #6a64f1;
  }
  .formbold-radio-checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  .formbold-radio-label
    .formbold-input-radio:checked
    ~ .formbold-radio-checkmark:after {
    display: block;
  }

  .formbold-radio-label .formbold-radio-checkmark:after {
    top: 50%;
    left: 50%;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    transform: translate(-50%, -50%);
  }

  .formbold-btn {
    text-align: center;
    width: 100%;
    font-size: 16px;
    border-radius: 5px;
    padding: 14px 25px;
    border: none;
    font-weight: 500;
    background-color: #6a64f1;
    color: white;
    cursor: pointer;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
  }
  .formbold-btn:hover {
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.25);
  }
